<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="OAuthScope"            value="urn:WindowsAzureMediaServices" />
    <add key="OAuthACSServiceUri"    value="https://wamsprodglobal001acs.accesscontrol.windows.net/v2/OAuth2-13" />
    <add key="ApiServerUri"          value="https://media.windows.net/api/"/>
  
    <!-- AAD AuthN -->
    <add key="aadsts" value="https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token"/>
    <add key="resource" value="https://rest.media.azure.net"/>
    <add key="clientid" value="02ed1e8e-af8b-477e-af3d-7e7219a99ac6"/>
    <add key="clientsecret" value="uGRblOepoxML1uYlCQpXjuH1VqsxWLlI2e3W6IvCz9o="/>
    <add key="restapiuri" value="https://willzhanmswjapan.restv2.japanwest.media.azure.net/API" />

    <add key="aadidp" value="https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/authorize"/>
    <add key="redirecturi" value="https://AzureMediaServicesNativeSDK"/>
  </appSettings>
</configuration>